<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.firebasenotifications">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Place Picker -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- <meta-data -->
        <!-- android:name="com.google.android.geo.API_KEY" -->
        <!-- android:value="AIzaSyCmbVzjbZhjRl4P33n8rrHwhAQyuy7LeSw" /> -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBDv7B62-bLvjbdWZCXyIl4dxiLmSR4vB0" />
        <!-- ./Place Picker -->
        <activity
            android:name="com.aisautocare.mobile.activity.MainActivity"
            android:label="@string/title_main_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Firebase Notifications -->
        <service android:name="com.aisautocare.mobile.service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.aisautocare.mobile.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->


        <!-- A child of the main activity -->
        <activity
            android:name="com.aisautocare.mobile.activity.ProfileActivity"
            android:label="@string/activity_profile"
            android:parentActivityName="com.aisautocare.mobile.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aisautocare.mobile.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.aisautocare.mobile.activity.GarageActivity"
            android:label="@string/activity_garage"
            android:parentActivityName="com.aisautocare.mobile.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aisautocare.mobile.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.aisautocare.mobile.activity.AddVehicleActivity"
            android:label="@string/activity_add_vehicle"
            android:parentActivityName="com.aisautocare.mobile.activity.GarageActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aisautocare.mobile.activity.GarageActivity" />
        </activity>
        <activity
            android:name="com.aisautocare.mobile.activity.OrderActivity"
            android:label="@string/activity_order"
            android:parentActivityName="com.aisautocare.mobile.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aisautocare.mobile.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.aisautocare.mobile.activity.WaitOrderActivity"
            android:label="@string/activity_order"
            android:parentActivityName="com.aisautocare.mobile.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aisautocare.mobile.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.aisautocare.mobile.activity.ConfirmOrderActivity"
            android:label="@string/activity_order"
            android:launchMode="singleTop"
            android:parentActivityName="com.aisautocare.mobile.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aisautocare.mobile.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.aisautocare.mobile.activity.TrackEmployeeActivity"
            android:label="@string/activity_order"
            android:launchMode="singleTop"
            android:parentActivityName="com.aisautocare.mobile.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aisautocare.mobile.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.aisautocare.mobile.activity.LoginActivity"
            android:label="@string/login"
            android:parentActivityName="com.aisautocare.mobile.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aisautocare.mobile.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.aisautocare.mobile.activity.RegisterActivity"
            android:label="@string/register"
            android:parentActivityName="com.aisautocare.mobile.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aisautocare.mobile.activity.MainActivity" />
        </activity>
        <activity
            android:name="com.aisautocare.mobile.activity.HistoryActivity"
            android:label="@string/activity_history"
            android:parentActivityName="com.aisautocare.mobile.activity.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aisautocare.mobile.activity.MainActivity" />
        </activity>
    </application>

</manifest>